WebContent/wsdl/ConnectDatabase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://connect.database.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://connect.database.com" xmlns:intf="http://connect.database.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://connect.database.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="init">
    <complexType/>
   </element>
   <element name="initResponse">
    <complexType>
     <sequence>
      <element name="initReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="close">
    <complexType/>
   </element>
   <element name="closeResponse">
    <complexType/>
   </element>
   <element name="query">
    <complexType>
     <sequence>
      <element name="sql" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="queryResponse">
    <complexType>
     <sequence>
      <element name="queryReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculate">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateResponse">
    <complexType>
     <sequence>
      <element name="calculateReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="queryRequest">

      <wsdl:part element="impl:query" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="closeResponse">

      <wsdl:part element="impl:closeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateResponse">

      <wsdl:part element="impl:calculateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initResponse">

      <wsdl:part element="impl:initResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateRequest">

      <wsdl:part element="impl:calculate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initRequest">

      <wsdl:part element="impl:init" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryResponse">

      <wsdl:part element="impl:queryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="closeRequest">

      <wsdl:part element="impl:close" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ConnectDatabase">

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest">

       </wsdl:input>

         <wsdl:output message="impl:initResponse" name="initResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="close">

         <wsdl:input message="impl:closeRequest" name="closeRequest">

       </wsdl:input>

         <wsdl:output message="impl:closeResponse" name="closeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="query">

         <wsdl:input message="impl:queryRequest" name="queryRequest">

       </wsdl:input>

         <wsdl:output message="impl:queryResponse" name="queryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculate">

         <wsdl:input message="impl:calculateRequest" name="calculateRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateResponse" name="calculateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConnectDatabaseSoapBinding" type="impl:ConnectDatabase">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="close">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="closeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="closeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="query">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="queryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConnectDatabaseService">

      <wsdl:port binding="impl:ConnectDatabaseSoapBinding" name="ConnectDatabase">

         <wsdlsoap:address location="http://localhost:8080/Hotel_Webservice/services/ConnectDatabase"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
