WebContent/wsdl/HotelInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://hotel_info.database.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://hotel_info.database.com" xmlns:intf="http://hotel_info.database.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://hotel_info.database.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addNewHotel">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
      <element name="star" type="xsd:int"/>
      <element name="ward" type="xsd:string"/>
      <element name="county" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="full_address" type="xsd:string"/>
      <element name="website" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="phone" type="xsd:string"/>
      <element name="total_room" type="xsd:int"/>
      <element name="single_room_available" type="xsd:int"/>
      <element name="double_room_available" type="xsd:int"/>
      <element name="four_people_room_available" type="xsd:int"/>
      <element name="single_cost" type="xsd:int"/>
      <element name="double_cost" type="xsd:int"/>
      <element name="four_cost" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addNewHotelResponse">
    <complexType/>
   </element>
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="findHotelByCity">
    <complexType>
     <sequence>
      <element name="city" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findHotelByCityResponse">
    <complexType>
     <sequence>
      <element name="findHotelByCityReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNewHotelRequest">

      <wsdl:part element="impl:addNewHotel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findHotelByCityRequest">

      <wsdl:part element="impl:findHotelByCity" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findHotelByCityResponse">

      <wsdl:part element="impl:findHotelByCityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNewHotelResponse">

      <wsdl:part element="impl:addNewHotelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HotelInfo">

      <wsdl:operation name="addNewHotel">

         <wsdl:input message="impl:addNewHotelRequest" name="addNewHotelRequest">

       </wsdl:input>

         <wsdl:output message="impl:addNewHotelResponse" name="addNewHotelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findHotelByCity">

         <wsdl:input message="impl:findHotelByCityRequest" name="findHotelByCityRequest">

       </wsdl:input>

         <wsdl:output message="impl:findHotelByCityResponse" name="findHotelByCityResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HotelInfoSoapBinding" type="impl:HotelInfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addNewHotel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNewHotelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addNewHotelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findHotelByCity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findHotelByCityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findHotelByCityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HotelInfoService">

      <wsdl:port binding="impl:HotelInfoSoapBinding" name="HotelInfo">

         <wsdlsoap:address location="http://localhost:8080/Hotel_Webservice/services/HotelInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
